body{
background-color:#fdf6e3;
}
.beer-card{
  font-family:'Lobster',cursive;
  color: #D2691E;
  text-align: center;
  font-size: large;
}

.nav-links{
  list-style-type: none;
  margin:0;
  padding: 0;
  display: flex;
  justify-content:center;
  background-color: #7b4444;

}

li a{
  display: block;
  color:#fff8dc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #d2691e;
}
li{
  border-right: 1px solid #aa7171;
}

h2{
  font-family:'Lobster',cursive;
  color: #D2691E;
  text-align: center;

}
.beer-image{
  width: 150px;
  height: auto;
}